<mat-card class="transaction-form-card">
  <mat-card-header>
    <mat-card-title>{{ transaction.id ? 'Edit Transaction' : 'Add Transaction' }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (click)="picker.open()" [(ngModel)]="transaction.date" name="date" [required]="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="transaction.description" name="description" [required]="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="transaction.amount" name="amount" [required]="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="transaction.type" name="type" [required]="true">
          <mat-option value="income">Income</mat-option>
          <mat-option value="expense">Expense</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">{{ transaction.id ? 'Update' : 'Save' }}</button>
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>