.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.filter-field {
  flex: 1 1 auto;
  min-width: 200px;
}

.apply-button {
  flex: 0 0 auto;
  margin-left: 10px;
}
.income {
  color: green;
}

.expense {
  color: red;
}
.button{
  background-color: rgb(104,60,180); color: white;

}
.center-button {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100%; /* Ensure button takes full height */
}