<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>Financial Summary</mat-card-title>
  </mat-card-header>

  <mat-card-content class="dashboard-content">
    <div class="left-section">
      <mat-card style="background-color:rgb(104,60,180);">
        <mat-card-content style="color: white;">
          <p>Total Income: {{ totalIncome | currency }}</p>
          <p>Total Expenses: {{ totalExpenses | currency }}</p>
          <p>Current Balance: {{ currentBalance | currency }}</p>
        </mat-card-content>
      </mat-card>
    </div>

   
    <div class="right-section">
      <mat-card style="background-color:rgb(104,60,180);">
        <mat-card-header>
          <mat-card-title style="color: white;">Recent Transactions</mat-card-title>
        </mat-card-header>
        <mat-card-content style="color: white;">
          <ul>
            <li *ngFor="let transaction of recentTransactions">
              <strong >{{ transaction.date | date }}</strong> - {{ transaction.description }} - {{ transaction.amount | currency }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>